.wrapper {
    display: flex;
    gap: 20px;
}

.about {
display: flex;
flex-direction: column;
}

.genrelist {
   list-style: none;
   display: flex;
   gap: 10px;
   padding: 0;

}

.poster {
    max-height: 500px;
    max-width: 300px;
    width: 100%;
    height: auto;
}